.header {
  display: flex;
	align-items: center;
	height: 0.75rem;
	line-height: 0.75rem;
	font-size: 0.24rem;
	color: #d9521a;
  background: #fff;
	padding: 0 0.2rem;
	user-select: none;
}

.header .logo {
	width: 0.62rem;
	height: 0.75rem;
	background-image: url(../../assets/icons/logo.png);
	background-size: 0.62rem 0.75rem;
	background-repeat: no-repeat;
}

.header .address {
  position: relative;
	padding: 0 0.5rem 0 0.2rem;
	margin: 0 0.15rem;
	max-width: 5rem;
	color: #d9521a;
	background-color: #f2f2f2;
	height: 0.5rem;
	line-height: 0.5rem;
	border-radius: 0.25rem;
}

.header .address:after {
	position: absolute;
	top: 0.15rem;
	right: 0.25rem;
	content: '';
	height: 0.12rem;
	width: 0.12rem;
	border-top: 2px solid #d9521a;
	border-left: 2px solid #d9521a;
	display: block;
	transform: rotate(-135deg);
}

/* .header .time {
	color: #44d0e9;
	font-size: 0.28rem;
	text-align: right;
	width: 2rem;
  margin-left: auto;
}

.header .time:before {
	content: "";
	height: 0.38rem;
  width: 0.38rem;
	display: inline-block;
	position: relative;
	top: 0.06rem;
  margin-right: 0.04rem;
}

.header .time.evening:before {

}

.header .time.tomorrow:before {
	background-image: url(../../assets/icons/tomorrow.png);
  background-size: 0.4rem 0.4rem;
} */