.meals {
	padding: 0.2rem;
}

.meals ul li {
	display: flex;
	align-items: center;
	position: relative;
	height: 2.0rem;
	padding-right: 0.2rem;
	background: #fff;
	margin-bottom: 0.2rem;
  border-radius: 0.12rem;
  overflow: hidden;
}

.meals ul li:last-child {
	margin-bottom: 0;
}

.meals ul li .img {
	background-size: cover;
	background-color: #999;
	margin-right: 0.25rem;
	width: 2.4rem;
	height: 100%;
}

.meals ul li .detail {
	flex: 1;
	position: relative;
	margin-right: 0.12rem;
}

.meals ul li .detail .name {
	display: block;
	height: 0.9rem;
	line-height: .3rem;
	font-size: 0.3rem;
	color: #262626;
}

.meals ul li .detail .spicy {
	font-size: 0.3rem;
}

.meals ul li .detail .spicy i {
	display: inline-block;
	width: 0.15rem;
	height: 0.25rem;
	background: url(../src/assets/images/sprite1.png) no-repeat;
	background-size: 3.8rem 3.5rem;
	background-position: -1.1rem -0.05rem;
	margin: 0 0.03rem;
	vertical-align: middle;
}

.meals ul li .detail .price {
	color: #ff4500;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.3rem;
}