@charset "utf-8";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

html,
body,
ul,
li,
button,
input,
textarea {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	overflow: auto;
	color: #333;
	background: #f2f2f2;
	font-family: Helvetica, Hiragino Sans GB, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,p,figure {
  margin: 0;
} 

i {
	font-style: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #333;
	display: block;
}

a:active,
a:hover {
	outline: none;
}

ul,
li {
	list-style: none;
}

img {
	width: 100%;
	display: block;
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
	border-radius: 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea,
input,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea,
input {
	resize: none;
}

dl {
	margin: 0;
}

.single-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.box-layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.center-v {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.items-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.center-h {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.box-col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.hide {
	display: none;
}

.no-result {
	text-align: center;
	font-size: 0.32rem;
	margin: 0.8rem 0 0.2rem;
	color: #b2b2b2;
}

.no-result:before {
	content: "";
	width: 1.25rem;
	height: 1.5rem;
	display: block;
	margin: 0 auto 0.2rem;
	background: url(../images/bean.png) no-repeat;
	background-size: 1.25rem 1.5rem;
}

.logo {
	margin: 0 auto;
	width: 1.4rem;
	height: 1.4rem;
	background: url(../images/logo.png) no-repeat;
	background-size: 1.4rem 1.4rem;
}

.fadeIn {
	-webkit-animation: fadeIn 600ms linear 0ms 1 normal both;
	animation: fadeIn 600ms linear 0ms 1 normal both;
	opacity: 1;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.fadeOut {
	-webkit-animation: fadeOut 300ms ease-out 0ms 1 normal both;
	animation: fadeOut 300ms ease-out 0ms 1 normal both;
	opacity: 0;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

/* .common-bg, */
.title,
.header .address:before,
.header .time:before,
#home-menu a:before,
#detail .cont .sale:before,
#detail .cont .like:before,
#detail .cont .cook:before,
#detail .intro:before,
#detail .op a.collect:before,
#detail .op a.buy:before,
#detail .op a.cantBuy:before,
.user-bars a:before,
.addr-bar:before,
.nav-bar .address-search:before,
.icon,
#editAddr em.on:before,
#orders li .cont .tip:before,
.help-type a:before {
	background: url(../src/assets/images/sprite1.png) no-repeat;
	background-size: 3.8rem 3.5rem;
}

#ucenter {
	padding-bottom: 0.2rem;
}

#ucenter .header {
	height: 3.72rem;
	background-size: cover;
	background-color: #dedede;
	position: relative;
	overflow: hidden;
}

#ucenter .user-img {
	height: 1.45rem;
	width: 1.45rem;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	margin: 0.35rem auto 0.1rem;
	border: 1px solid #fff;
}

#ucenter .userName {
	font-size: 0.36rem;
	color: #fff;
	text-shadow: 0 0 2px #000;
	text-align: center;
}

#ucenter .user-info1 {
	background: rgba(0, 0, 0, 0.8);
	padding: 0.15rem 0;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}

#ucenter .user-info1 a {
	color: #fff;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.44rem;
}

#ucenter .user-info1 a span {
	display: block;
	color: #999;
	font-size: 0.24rem;
	line-height: 0.3rem;
}

#ucenter .user-info2 {
	background: #fff;
	font-size: 0.24rem;
	text-align: center;
	border-bottom: 1px solid #dedede;
	margin-bottom: 0.35rem;
}

#ucenter .user-info2 a {
	border-left: 1px solid #dedede;
	padding: 0.2rem 0;
}

#ucenter .user-info2 a:first-child {
	border-left: none;
	color: #ff3333;
}

#ucenter .user-info2 a:nth-child(2) {
	color: #19b4ed;
}

#ucenter .user-info2 a:nth-child(3) {
	color: #25c918;
}

#ucenter .user-info2 a:nth-child(4) {
	color: #000;
}

#ucenter .user-bars a {
	height: 0.9rem;
	line-height: 0.9rem;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	margin-bottom: 0.1rem;
	background: #fff;
	font-size: 0.32rem;
	color: #000;
	position: relative;
}

#ucenter .user-bars a:before {
	content: '';
	display: inline-block;
	vertical-align: sub;
	margin-left: 0.25rem;
}

#ucenter .user-bars a#addr:before {
	background-position: -1.6rem -1.04rem;
	height: 0.44rem;
	width: 0.32rem;
	margin-right: 0.3rem;
}

#ucenter .user-bars a#orders:before {
	background-position: -1.96rem -1.04rem;
	height: 0.44rem;
	width: 0.40rem;
	margin-right: 0.22rem;
}

#ucenter .user-bars a#help:before {
	background-position: -2.4rem -1.03rem;
	height: 0.46rem;
	width: 0.40rem;
	margin-right: 0.22rem;
}

#ucenter .user-bars a:after,
#addrDetail .addrSelect:after,
#orderPhone .btn:after,
#add-addr:after,
.help-option a:after {
	content: '';
	position: absolute;
	right: 0.25rem;
	top: 50%;
	margin-top: -0.1rem;
	height: 0.2rem;
	width: 0.2rem;
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	transform: rotate(45deg);
}

.addr-bar {
	line-height: 0.88rem;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	background: #fff;
	font-size: 0.28rem;
	padding: 0 0.2rem;
	margin-bottom: 0.2rem;
}

#curLoc {
	color: #ff6600;
	border-top: none;
}

.addr-bar#curLoc:before,
.addr-bar#add:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.addr-bar#curLoc:before {
	background-position: -3.42rem -1.04rem;
	height: 0.36rem;
	width: 0.36rem;
	margin-right: 0.12rem;
	top: -0.02rem;
}

.addr-bar#add {
	font-size: 0.3rem;
	color: #000;
	margin-bottom: 0;
	border-bottom: none;
}

.addr-bar#add:before {
	background-position: -2.84rem -1.02rem;
	height: 0.56rem;
	width: 0.56rem;
	top: -0.04rem;
	margin-right: 0.2rem;
}

#scan-code {
	width: 1rem;
	border-left: 1px solid #dedede;
	background: #fff;
	border-top: 1px solid #dedede;
	font-size: 0.2rem;
	color: #d9521a;
	text-align: center;
}

#scan-code:before {
	display: block;
	width: 0.44rem;
	height: 0.44rem;
	content: '';
	background: url(../src/assets/images/scan-code.png);
	background-size: cover;
	margin: 0.08rem auto 0.04rem;
}

.addr-tip {
	height: .4rem;
	line-height: .4rem;
	margin: .2rem;
	margin-top: 0.24rem;
	font-size: 0.26rem;
	color: #b2b2b2;
}

#addr-list {
	padding-bottom: 1rem;
}

#addr-list .li {
	position: relative;
	margin-bottom: 0.18rem;
}

#addr-list .addr-bar {
	/* height: 0.8rem; */
	padding: 0.35rem 1rem;
	margin-bottom: 0;
}

#addr-list .addr-bar:before {
	content: '';
	background-position: -2.98rem -1.6rem;
	width: 0.52rem;
	height: 0.68rem;
	position: absolute;
	top: 0.42rem;
	left: 0.2rem;
}

#addr-list .addr-bar .name {
	color: #4c4c4c;
	font-size: 0.3rem;
	height: 0.4rem;
	line-height: 0.4rem;
}

#addr-list .addr-bar .address {
	color: #b2b2b2;
	font-size: 0.28rem;
	line-height: 0.36rem;
	height: 0.36rem;
}

#addr-list .li .arrow {
	width: 1rem;
	height: 1.56rem;
	line-height: 1.56rem;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

#addr-list .li .arrow:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: .2rem;
	border-style: solid;
	border-color: #ccc transparent transparent transparent;
	margin: 0 auto;
	margin-top: 0.75rem;
}

#addr-list .li .arrow.on:before {
	border-color: transparent transparent #999 transparent;
	margin: 0 auto;
	margin-top: 0.55rem;
}

#addr-list .li .option.on {
	height: 0.78rem;
}

#addr-list .li .option {
	height: 0;
	line-height: 0.78rem;
	overflow: hidden;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

#addr-list .li .option a {
	width: 50%;
	height: .78rem;
	float: left;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	color: #fff;
}

#addr-list .li .option .delete {
	margin-left: -1px;
	border-right: 1px solid #fff;
	background: #c5c5c5;
}

#addr-list .li .option .edit {
	background: #d9521a;
}

#editAddr,
#addrDetail {
	border-bottom: 1px solid #dedede;
}

#addrDetail .details {
	margin-top: 1.1rem;
}

#editAddr input {
	border-bottom: 1px solid #dedede;
}

#editAddr .radio {
	height: .86rem;
	line-height: .86rem;
	margin-left: 2rem;
	display: block;
}

#editAddr em {
	width: 50%;
	float: left;
}

#editAddr em:before {
	width: .38rem;
	height: .38rem;
	top: .06rem;
	margin-right: .1rem;
	display: inline-block;
	position: relative;
	content: '';
	border: 0.02rem solid #999;
	border-radius: 50%;
	box-sizing: border-box;
}

#editAddr em.on:before {
	background-position: -1.4rem -3.1rem;
	border: none;
	border-radius: 0;
}

#addrDetail .addrSelect {
	height: .9rem;
	line-height: .9rem;
	color: #aaa;
	border-bottom: 1px solid #dedede;
	display: block;
	overflow: hidden;
	margin-right: 0;
	margin-top: 0;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.coupon-wrapper {
	height: 1.85rem;
	width: 6rem;
	margin: 0.12rem auto;
	background: url(../src/assets/images/coupon-bg.png) no-repeat;
	background-size: 6rem 3.7rem;
	padding-left: 0.4rem;
}

.coupon-wrapper.bg10 {
	background-position: 0 -1.95rem;
}

.coupon-wrapper .name {
	color: #d9521a;
	font-size: 0.3rem;
}

.coupon-wrapper .time {
	color: #939393;
	font-size: 0.24rem;
	margin-top: 0.3rem;
}

.coupon-wrapper .money {
	width: 1.72rem;
	color: #fff;
	font-size: 0.36rem;
	text-align: center;
}

.coupon-wrapper .money span {
	font-size: 0.6rem;
}

.coupon-wrapper .tip {
	color: #333333;
	font-size: 0.24rem;
	margin-top: 0.36rem;
}

.coupon-wrapper .time {
	margin-top: 0.25rem;
}

.dl {
	height: 1.8rem;
	font-size: .3rem;
	border-top: 1px solid #dedede;
	margin-bottom: .2rem;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.dl .dt {
	width: 1.6rem;
	height: .9rem;
	line-height: .9rem;
	color: #000;
	text-align: center;
	position: absolute;
}

.dl .dd {
	margin-left: 2rem;
}

.dl input {
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	margin-top: .2rem;
	margin-bottom: .2rem;
	display: block;
}

#apply-join {
	padding-left: 0.2rem;
	background: #fff;
}

#apply-join .dl {
	margin-bottom: 0;
	border-bottom: none;
}

#apply-join .dl.name,
#apply-join .dl.phone {
	border-top: 1px solid #e6e6e6;
	height: 0.9rem;
	line-height: 0.9rem;
}

#apply-join #addrDetail {
	height: 1.8rem;
	overflow: hidden;
}

#apply-join .dl textarea {
	margin-top: 0.2rem;
	height: 1.6rem;
	width: 98%;
}

#myOrders li {
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #4b4b4b;
	margin-bottom: 0.2rem;
}

#myOrders li .cont {
	padding: 0 0.2rem;
}

#myOrders li .cont .tip {
	color: #b2b2b2;
	font-size: 0.24rem;
	text-align: center;
	margin-top: 0.12rem;
}

#myOrders li .cont .tip:before {
	width: 0.4rem;
	height: 0.4rem;
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-position: -1.85rem -3.1rem;
	position: relative;
	top: -0.04rem;
	margin-right: 0.1rem;
}

#myOrders li .time {
	border-bottom: 1px solid #e6e6e6;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.28rem;
	margin-bottom: 0.24rem;
}

#myOrders li .time span {
	margin-left: 0.7rem;
}

#myOrders li .name {
	font-size: 0.34rem;
	line-height: 0.44rem;
}

#myOrders li .pay {
	font-size: 0.36rem;
	width: 2rem;
	text-align: center;
}

#myOrders li .pay i {
	font-size: 0.28rem;
	display: block;
	font-weight: normal;
}

#myOrders li .pay .notPay {
	color: #ff3333;
}

#myOrders li .pay .delivering {
	color: #19b4ed;
}

#myOrders li .pay .cancel {
	color: #b2b2b2;
}

#myOrdersli .pay .arrive {
	color: #000;
}

#myOrders li .btns {
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	color: #4c4c4c;
	font-size: 0.32rem;
	border-top: 1px solid #ccc;
	margin-top: 0.24rem;
}

#myOrders li .btns a:last-child {
	color: #ff3333;
	border-left: 1px solid #ccc;
}

#myOrders li .btns a.comment {
	color: #ff3333;
}

.star-full,
.star-half,
.star-empty {
	background: url(../src/assets/images/stars.png);
	background-size: 1.1rem 0.3rem;
	height: 0.3rem;
	width: 0.3rem;
	display: inline-block;
	margin-right: 0.12rem;
}

.star-full {
	background-position: 0 0;
}

.star-half {
	background-position: -0.4rem 0;
}

.star-empty {
	background-position: -0.8rem 0;
}

#comments .scores {
	background: #fff;
	height: 0.9rem;
	line-height: 0.9rem;
	padding: 0 0.2rem;
	color: #fe0000;
	font-size: 0.28rem;
	text-align: right;
	border-bottom: 1px solid #ccc;
}

#comments .scores i {
	float: left;
	margin-top: 0.28rem;
}

#comments .card {
	margin: 0.15rem 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #fff;
	font-size: 0.3rem;
	color: #1a1a1a;
}

#comments .card .cont {
	padding: 0.2rem;
}

#comments .card .avatar {
	height: 0.64rem;
	width: 0.64rem;
	border: 1px solid #838383;
	border-radius: 50%;
	background-size: cover;
	margin-right: 0.15rem;
}

#comments .card .name {
	font-size: 0.28rem;
	line-height: 0.32rem;
}

#comments .card .star {
	color: #a6a6a6;
	font-size: 0.28rem;
	margin-top: 0.08rem;
	overflow: hidden;
}

#comments .card .star i {
	float: left;
}

#comments .card .text {
	margin-top: 0.25rem;
}

#comments .card .reply {
	padding: 0.2rem;
}

#comments .card .reply span {
	color: #ff2626;
}

.help-type {
	font-size: 0.24rem;
	text-align: center;
	height: 1.4rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.help-type a {
	color: #999;
	border-right: 1px solid #ccc;
}

.help-type a:last-child {
	border-right: none;
}

.help-type a:before {
	content: '';
	display: block;
	height: 0.54rem;
	width: 0.5rem;
	margin: 0.25rem auto 0.08rem;
}

.help-type a#hotline:before {
	background-position: -2.24rem -2.96rem;
}

.help-type a#service:before {
	background-position: -2.76rem -2.94rem;
}

.help-type a#feedback-icon:before {
	background-position: -3.3rem -2.94rem;
}

.help-option {
	margin-bottom: 0.2rem;
	border-bottom: 1px solid #ccc;
	background: #fff;
	padding-left: 0.2rem;
}

.help-option .tit {
	font-size: 0.28rem;
	height: 0.7rem;
	line-height: 0.7rem;
	padding-left: 0.2rem;
	border-bottom: 1px solid #ccc;
	margin-left: -0.2rem;
	background: #f2f2f2;
	color: #b2b2b2;
}

.help-option a {
	height: 0.9rem;
	line-height: 0.9rem;
	color: #000;
	font-size: 0.32rem;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.help-option a:last-child {
	border-bottom: none;
}

#my-balance {
	height: 1.85rem;
	padding-top: 0.2rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 0.28rem;
	color: #000;
	text-align: center;
}

#my-balance .money {
	color: #ff3d3d;
	font-size: 0.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
}

#my-balance .shadow {
	width: 0.72rem;
	height: 0.18rem;
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	background-image: radial-gradient(rgba(220, 220, 220, 1), rgba(220, 220, 220, 0));
	background-image: -webkit-radial-gradient(rgba(220, 220, 220, 1), rgba(220, 220, 220, 0));
}

#deposit {
	padding: 0.4rem 0.2rem;
}

#deposit .tit {
	color: #b2b2b2;
	font-size: 0.28rem;
}

#deposit .fixed-amount {
	height: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	font-size: 0.3rem;
	margin: 0.3rem 0;
}

#deposit .fixed-amount a {
	color: #d9521a;
	background: #fff;
	border-radius: 0.35rem;
	box-shadow: 0 0.04rem #e7e7e7;
}

#deposit .fixed-amount a:nth-child(2) {
	margin: 0 0.25rem;
}

#deposit #amount {
	background: #fff;
	height: 0.8rem;
	line-height: 0.8rem;
	padding: 0.15rem;
	font-size: 0.32rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #ccc;
}

#deposit #confirm {
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color: #fff;
	background: #66c0ff;
	font-size: 0.32rem;
	width: 1.8rem;
	margin-left: 0.3rem;
}

#deposit #record {
	margin-top: 0.5rem;
	border-top: 1px solid #ccc;
}

#deposit #record .tit {
	width: 1.55rem;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	color: #999;
	background: #f2f2f2;
	margin: -0.28rem auto 0;
}

#deposit #record li {
	height: 0.9rem;
	line-height: 0.9rem;
	border-bottom: 1px solid #ccc;
	color: #262626;
	font-size: 0.38rem;
}

#deposit #record .label {
	width: 2.24rem;
}

#deposit #record .time {
	font-size: 0.28rem;
}

#deposit #record .box-col {
	text-align: right;
	color: #12cb12;
}

#deposit #record .add {
	color: #ff0000;
}

#comment-wrapper {
	margin-top: 0.2rem;
	background: #fff;
	padding-left: 0.2rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 0.28rem;
}

#comment-wrapper .section {
	padding: 0.2rem 0.2rem 0.32rem 0;
	border-bottom: 1px solid #ccc;
}

#comment-wrapper .section .box-layout {
	margin-top: 0.24rem;
}

#comment-wrapper .section:last-child {
	border-bottom: none;
}

#comment-wrapper .section span {
	width: 1.4rem;
}

#comment-wrapper .grades i {
	background: url(../src/assets/images/stars.png);
	height: 0.3rem;
	width: 0.3rem;
	display: inline-block;
	background-position: -0.8rem 0;
	background-size: 1.1rem 0.3rem;
	margin-right: 0.15rem;
}

#comment-wrapper .grades i.on {
	background-position: 0 0;
}

#comment-wrapper .section textarea {
	height: 1.32rem;
	border: 1px solid #808080;
	border-radius: 0.12rem;
	padding: 0.1rem;
}

/*申请记录*/
.apply-list {
	background: #fff;
	margin-bottom: 0.3rem;
	border-bottom: 1px solid #eee;
	font-size: 0.24rem;
}

.apply-list .box-layout {
	padding: 0.3rem 0.4rem 0.3rem 0.2rem;
}

.apply-list .pass,
.apply-list .notPass,
.apply-list .checking {
	width: 1.46rem;
	height: 1.16rem;
	background: url(../src/assets/images/apply.png) no-repeat;
	background-size: 1.46rem 3.56rem;
	margin-left: 0.5rem;
}

.apply-list .pass {
	background-position: 0 0;
}

.apply-list .notPass {
	background-position: 0 -1.2rem;
}

.apply-list .checking {
	background-position: 0 -2.4rem;
}

.apply-list .name {
	color: #1a1a1a;
	font-size: 0.32rem;
}

.apply-list .name span {
	display: inline-block;
	color: #a6a6a6;
	margin-left: 0.3rem;
}

.apply-list .address {
	color: #4c4c4c;
	margin-top: 0.16rem;
}

.apply-list .date {
	color: #999;
	margin-top: 0.16rem;
}

.apply-list .reply span {
	color: #74df86;
}

.apply-list .reply span.red {
	color: #ff2626;
}

/*填写反馈*/
#feedback {
	display: block;
	padding: 0.2rem;
	height: 2.24rem;
	font-size: 0.32rem;
	width: 100%;
	margin: 0.24rem 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#feedback-phone {
	background: #fff;
	font-size: 0.32rem;
	height: 0.88rem;
	line-height: 0.48rem;
	padding: 0.2rem;
}

#feedback-phone #phone {
	height: 100%;
	margin-left: 0.32rem;
	width: 4rem;
	font-size: 0.3rem;
}

#feedback-link {
	color: #d9521a;
	height: 0.72rem;
	line-height: 0.72rem;
	float: right;
	padding-right: 0.2rem;
	font-size: 0.28rem;
}

#question {
	padding: .3rem;
	color: #000;
	background-color: #fff;
}

#question h2 {
	font-size: .32rem;
	line-height: .44rem;
	font-weight: 700;
	margin-bottom: .12rem
}

#question p {
	font-size: .28rem;
	line-height: .4rem;
	margin-bottom: .36rem
}