.checkout {
  display: flex;
  align-items: center;
}

.checkout .discount {
	color: #e90101;
	font-size: 0.24rem;
}

.checkout .total {
  flex: 1;
	margin-left: 0.24rem;
	font-size: 0.24rem;
	color: #fff;
}

.checkout .total i {
	color: #e90101;
	font-size: 0.36rem;
	display: inline-block;
	vertical-align: middle;
}

.nameAddr {
	color: #dffaff;
	padding: 0 .2rem .2rem;
	background: #fff;
	color: #000;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.nameAddr .name {
	height: .72rem;
	line-height: .72rem;
	font-size: .36rem
}

.nameAddr .address {
	font-size: .24rem;
	color: #d9521a;
}

.phone {
	margin-top: .25rem;
	margin-bottom: .16rem;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding-left: .2rem;
	padding-right: .2rem;
	height: .9rem;
	line-height: .9rem;
	font-size: .3rem;
	color: #000;
	background: #fff;
}

.phone span {
	margin-left: .4rem
}

.meals .tit {
	background: #eee;
	font-size: .26rem;
	height: .5rem;
	line-height: .5rem;
	padding-left: .2rem;
}

.meals ul li {
  display: flex;
  align-items: center;
	height: 1.45rem;
	background: #fff;
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	padding: 0.12rem;
}

.meals ul li .img {
	width: 2rem;
	height: 100%;
  border-radius: 0.1rem;
	background-size: cover;
	margin-right: 0.15rem;
}

.meals ul li .info {
  flex: 1;
}

.meals ul li .info .name {
	color: #4d4d4d;
	height: 0.48rem;
	line-height: 0.48rem;
	margin-bottom: 0.1rem;
	overflow: hidden;
}

.meals ul li .info .price {
	color: #ff3333;
}

.meals ul li .info .type {
	display: inline-block;
  position: relative;
  top: -0.03rem;
	margin-left: 0.12rem;
	width: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 0.24rem;
	background: #66c0ff;
}

.orderDes {
	margin-top: .2rem;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding-left: .2rem;
	padding-right: .2rem;
	margin-bottom: 1.2rem;
	background-color: #fff;
}

.orderDes dl {
	height: .9rem;
	line-height: .9rem;
	font-size: .3rem;
	color: #000;
	border-top: 1px solid #e6e6e6
}

.orderDes dl:first-child {
	border-top: none;
}

.orderDes dl dt {
	float: left;
}

.orderDes dl dd {
	position: relative;
	height: 0.9rem;
	width: 3.5rem;
	float: right;
	text-align: right;
}

.orderDes dl dd .select {
  opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.orderDes dl.coupons dd {
	color: #999;
}

.orderDes dl.coupons dd span,
.orderDes dl dd.mj {
	color: #ff3333;
}